*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
/* =========================  START-HEADER  ========================= */
.top-header
{
    background: linear-gradient(91.24deg, #FA6400 0%, #FF8A00 100%);
    display: flex;
}
.logo
{
    padding: 10px 0px 0px 10px;
}
.logo img
{
    width: 70%;
}
.chooses ul
{
    display: flex;
    padding: 15px 0px 10px 0px;
}
.chooses li a
{
    font-size: 20px;
    margin-right: 20px;
    color: white;
    transition: 0.3s;
}
.chooses li a:hover
{
    color: brown;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  
  .dropdown 
  {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content 
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a 
  {
    color: black;
    border-bottom: #FA6400 1px solid;
    text-decoration: none;
    display: block;
  }
  .dropdown-content img
  {
    width: 35px;
    height: 20px;
    padding: 0px 0px 0px 5px;
    margin-right: 5px;
  }
  
  .dropdown-content a:hover 
{
    background-color: #f1f1f1
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.others
{
    display: flex;
    padding: 15px 0px 15px 120px ;
    margin-left: 500px;
}

.others a i
{
    font-size: 30px;
    margin-left: 20px;
    color: white;
    transition: 0.3s;
}
.others a i:hover
{
    color: brown;
}

/* =========================  END-HEADER  ========================= */
/* =========================  START-BILL  ========================= */
.item-n-price
{
    display: flex;
}
.bill
{
    border: 1px solid #A1A1A1;
    width: 720px;
    height: 500px;
}
.bill-label
{
    background-color: #FA6400;
    color: #FFFFFF;
    border-bottom-right-radius: 40px;
    width: 220px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: #FFFFFF solid 3px;
}
.bill-items
{
    display: flex;
    margin: 10px 0px 10px 20px ;
    padding-top: 20px;
}
.bill-item-name h5
{
    color: #A1A1A1;
}
.item-price
{
    margin-left: 200px;
}
.quantity
{
    font-size: 30px;
    margin-top: 30px;
}
.bill-item-info
{
    width: 200px;
    margin-left: 30px;
}
.item-info-coupon
{
    display: flex;
    margin: 5px 0px 0px 20px;
}
.item-info-coupon h5
{
    padding: 7px 0px 0px 10px;
}
.bill-item-price
{
    margin-top: 10px;
    margin-left: 20px;
}
.quantity
{
    margin-bottom: 10px;
}
/* =========================  END-BILL  ========================= */
/* =========================  START-PRICE  ========================= */
.choose
{
    margin-left: 10px;
}
.price
{
    margin-left: 15px;
}
.total-price
{
    border-right: 1px solid #A1A1A1;
    width: 720px;
    height: 190px;
}
.buy-now-btn
{
    background: #FA6400;
    color: white;
    width: 115px;
    padding: 7px 10px 7px 15px;
    border-radius: 20px;
    margin:10px 0px 10px 290px;
    transition: .3s;
}

.buy-now-btn:hover
{
    background: white;
    border: #FA6400 solid 2px;
    color: #FA6400;
}
/* =========================  END-PRICE  ========================= */

/* =========================  START-ADDRESS  ========================= */
.time
{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    margin: 5px 0px 0px 20px;
}
.time h4
{
    padding: 7px 0px 0px 10px;
}
.to
{
    margin-left: 10px;
}
.address
{
    margin-left: 10px;
}
.address-box
{
    border-bottom: 1px solid #A1A1A1;
    border-top: 1px solid #A1A1A1;
    width: 730px;
    height: 200px;
}
/* =========================  END-ADDRESS  ========================= */
/* =========================  START-CHOOSE COUPONS  ========================= */
.choose-coupons-box
{
    border-bottom: 1px solid #A1A1A1;
    height: 150px;
    width: 730px;
}
.choose h5
{
    margin-top: 5px;
    margin-left: 10px;
    color: #FA6400;
}
.coupon
{
    margin-top: 10px;
    display: flex;
}
.coupon a
{
    margin-left: 20px;
    transition: 0.3s;
}
.coupon a:hover
{
    transform: translateY(-10px) ;
}
.coupon img
{
    width: 200px;
    height: 100px;
}

/* =========================  END-CHOOSE COUPONS  ========================= */
/* =========================  START-PRICE DETAIL  ========================= */
.price-detail-box
{
    height: 180px;
    width: 550px;
}
.quantity-price
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.quantity-price h3
{
    padding-left: 200px;
}

.delivery-cost
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.delivery-cost h3
{
    padding-left: 300px;
}

.weather-surcharge
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.weather-surcharge h3
{
    padding-left: 290px;
}

.coupon-price
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.coupon-price h3
{
    padding-left: 350px;
}

.sale-price
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.sale-price h3
{
    padding-left: 310px;
}

.final-price
{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.final-price h3
{
    padding-left: 320px;
}


/* =========================  END-PRICE DETAIL  ========================= */